@media screen and (min-width:1140px) {
    main {
        width: 100%;
        height: auto;
    }

    /*============================
#subpage
============================*/
    main div#subpage {
        width: 100%;
        height: auto;
    }

    main div#subpage p {
        width: 100%;
        height: 21px;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 32px;
        text-align: center;
        color: #333;
        margin: 67px auto 38px;
    }

    main div#subpage form {
        width: 1110px;
        height: 1124px;
        background: #f7f7f7;
        padding: 87px 90px 0;
        margin: 0 auto 70px;
    }

    main div#subpage form label {
        display: block;
        height: auto;
    }

    main div#subpage form label:nth-child(6) {
        display: block;
        height: auto;
    }

    main div#subpage form label div {
        display: flex;
    }

    main div#subpage form label div h2 {
        height: 21px;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.05em;
        line-height: 21px;
        text-align: left;
        color: #333;
        margin: 27px 0 8px;
    }

    main div#subpage form label:nth-child(1) div h2 {
        margin: 0 0 8px;
    }


    main div#subpage form label div span {
        display: block;
        height: 21px;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        line-height: 21px;
        text-align: center;
        color: #391e88;
        margin: 27px 20px 8px;

    }

     main div#subpage form label:nth-child(1) div span {
         margin: 0 20px 8px;

     }

    main div#subpage form label div span.radio {
        height: 21px;
      font-family: "Hiragino Sans";
      font-weight: normal;
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 21px;
      text-align: left;
      color: #333;
      margin: 0 50px 0 0;
    }

    main div#subpage form label div input[type="text"],
    main div#subpage form label div input[type="email"] {
        width: 300px;
        height: 40px;
        border-radius: 6px;
        background: #fff;
        border: 1px solid #aaa;
        margin: 0px;
    }

    main div#subpage form label div input[type="tel"] {
        width: 200px;
        height: 40px;
        border-radius: 6px;
        background: #fff;
        border: 1px solid #aaa;

    }

    main div#subpage form label div textarea {
        width: 601px;
        height: 255px;
        border-radius: 6px;
        background: #fff;
        border: 1px solid #aaa;

    }

    main div#subpage form label div select {
        width: 300px;
        height: 40px;
        border-radius: 6px;
        background: #fff;
        border: 1px solid #aaa;
        padding: 0 29px 0;
        font-family: "Hiragino Sans";
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 40px;
        text-align: left;
        color: #333;

    }

    main div#subpage form a.link-button {
        margin: 50px auto 0;
    }

}

@media screen and (min-width:700px) and (max-width:1139px) {
      main {
          width: 100%;
          height: auto;
      }

      /*============================
#subpage
============================*/
      main div#subpage {
          width: 100%;
          height: auto;
      }

      main div#subpage p {
          width: 100%;
          height: 21px;
          font-family: "Hiragino Sans";
          font-weight: normal;
          font-size: 16px;
          letter-spacing: 0.05em;
          line-height: 32px;
          text-align: center;
          color: #333;
          margin: 37px auto 38px;
      }

      main div#subpage form {
          width: calc( 100% - 40px );
          height: 1124px;
          background: #f7f7f7;
          padding: 87px 90px 0;
          margin: 0 auto 70px;
      }

      main div#subpage form label {
          display: block;
          height: auto;
      }

      main div#subpage form label:nth-child(6) {
          display: block;
          height: auto;
      }

      main div#subpage form label div {
          display: flex;
      }

      main div#subpage form label div h2 {
          height: 21px;
          font-family: "Hiragino Sans";
          font-weight: normal;
          font-size: 16px;
          letter-spacing: 0.05em;
          line-height: 21px;
          text-align: left;
          color: #333;
          margin: 27px 0 8px;
      }

      main div#subpage form label:nth-child(1) div h2 {
          margin: 0 0 8px;
      }


      main div#subpage form label div span {
          display: block;
          height: 21px;
          font-family: "Hiragino Sans";
          font-weight: normal;
          font-size: 12px;
          letter-spacing: 0.05em;
          line-height: 21px;
          text-align: center;
          color: #391e88;
          margin: 27px 20px 8px;

      }

      main div#subpage form label:nth-child(1) div span {
          margin: 0 20px 8px;

      }

      main div#subpage form label div span.radio {
          height: 21px;
          font-family: "Hiragino Sans";
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 0.05em;
          line-height: 21px;
          text-align: left;
          color: #333;
          margin: 0 50px 0 0;
      }

      main div#subpage form label div input[type="text"],
      main div#subpage form label div input[type="email"] {
          width: 300px;
          height: 40px;
          border-radius: 6px;
          background: #fff;
          border: 1px solid #aaa;
          margin: 0px;
      }

      main div#subpage form label div input[type="tel"] {
          width: 200px;
          height: 40px;
          border-radius: 6px;
          background: #fff;
          border: 1px solid #aaa;

      }

      main div#subpage form label div textarea {
          width: 601px;
          height: 255px;
          border-radius: 6px;
          background: #fff;
          border: 1px solid #aaa;

      }

      main div#subpage form label div select {
          width: 300px;
          height: 40px;
          border-radius: 6px;
          background: #fff;
          border: 1px solid #aaa;
          padding: 0 29px 0;
          font-family: "Hiragino Sans";
          font-weight: normal;
          font-size: 14px;
          letter-spacing: 0.05em;
          line-height: 40px;
          text-align: left;
          color: #333;

      }

      main div#subpage form a.link-button {
          margin: 50px auto 0;
      }

}

@media screen and (min-width:0px) and (max-width:699px) {
     main {
         width: 100%;
         height: auto;
     }

     /*============================
#subpage
============================*/
     main div#subpage {
         width: 100%;
         height: auto;
     }

     main div#subpage p {
         width: 252px;
         height: auto;
         font-family: "Hiragino Sans";
         font-weight: normal;
         font-size: 16px;
         letter-spacing: 0.05em;
         line-height: 32px;
         text-align: center;
         color: #333;
         margin: 37px auto 38px;
     }

     main div#subpage form {
         width: 335px;
         height: auto;
         background: #f7f7f7;
         padding: 27px 30px 1px;
         margin: 0 auto 40px;
     }

     main div#subpage form label {
         display: block;
         height: auto;
     }

     main div#subpage form label:nth-child(6) {
         display: block;
         height: auto;
     }

     main div#subpage form label div {
         display: flex;
         flex-wrap: wrap;
     }

     main div#subpage form label div h2 {
         height: 21px;
         font-family: "Hiragino Sans";
         font-weight: normal;
         font-size: 16px;
         letter-spacing: 0.05em;
         line-height: 21px;
         text-align: left;
         color: #333;
         margin: 27px 0 8px;
     }

     main div#subpage form label:nth-child(1) div h2 {
         margin: 0 0 8px;
     }


     main div#subpage form label div span {
         display: block;
         height: 21px;
         font-family: "Hiragino Sans";
         font-weight: normal;
         font-size: 12px;
         letter-spacing: 0.05em;
         line-height: 21px;
         text-align: center;
         color: #391e88;
         margin: 27px 20px 8px;

     }

     main div#subpage form label:nth-child(1) div span {
         margin: 0 20px 8px;

     }

     main div#subpage form label div span.radio {
        width: calc( 100% - 31px );
         height: 21px;
         font-family: "Hiragino Sans";
         font-weight: normal;
         font-size: 14px;
         letter-spacing: 0.05em;
         line-height: 21px;
         text-align: left;
         color: #333;
         margin: 0 0 0 10px;
     }

     main div#subpage form label div input[type="text"],
     main div#subpage form label div input[type="email"] {
         width: 300px;
         height: 40px;
         border-radius: 6px;
         background: #fff;
         border: 1px solid #aaa;
         margin: 0px;
     }

     main div#subpage form label div input[type="tel"] {
         width: 200px;
         height: 40px;
         border-radius: 6px;
         background: #fff;
         border: 1px solid #aaa;

     }

     main div#subpage form label div textarea {
         width: 601px;
         height: 255px;
         border-radius: 6px;
         background: #fff;
         border: 1px solid #aaa;

     }

     main div#subpage form label div select {
         width: 300px;
         height: 40px;
         border-radius: 6px;
         background: #fff;
         border: 1px solid #aaa;
         padding: 0 29px 0;
         font-family: "Hiragino Sans";
         font-weight: normal;
         font-size: 14px;
         letter-spacing: 0.05em;
         line-height: 40px;
         text-align: left;
         color: #333;

     }

     main div#subpage form a.link-button {
         margin: 50px auto 30px;
     }
}